*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 3em;
    position: relative;
    /* width: 170%;
    top: -50%; */
}

.middle img{
    border-radius: 50%;
    border:5px white solid;
    position: absolute;
    top: 37%;
    left: 46%;
}

.top img {
    border-radius: 1em 1em 0em 0em;
}

h1 {
    font-size: 1.2em;
    margin-top: 3.5em;
}

span{
    font-size: 0.9em;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

.bottom::before{
    content:'';
    background: rgba(20, 20, 20, 0.2);
    height: 1px;
    position: absolute;
    top: -50%;
    width: 170%

}
